<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar" th:fragment="navbar">

  <div class="nav-logo">
    <a href="/">TopFood AI</a>
  </div>

  <div class="nav-links">

    <a href="/">首頁</a>
    <a href="/my-recommend.html">我的推薦</a>


    <!-- 未登入 -->
    <a th:if="${!loggedIn}" href="/login">登入</a>

    <!-- 已登入 -->
    <span th:if="${loggedIn}" class="welcome-user">
            Hi, <span th:text="${loginUsername}">user</span>
        </span>

    <!-- 已登入才顯示登出 -->
    <form th:if="${loggedIn}" method="post" action="/logout" class="logout-form">
      <button type="submit" class="logout-btn">登出</button>
    </form>

  </div>

</nav>

</body>
</html>