<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/sub-navbar :: subNavbar"></div>
    <title>討論區</title>
    <link rel="stylesheet" th:href="@{/navbar.css}">
</head>

<body>

<div th:replace="~{fragments/main-navbar :: mainNavbar}"></div>
<div th:replace="fragments/sub-navbar :: subNavbar"></div>

<style>
    .sub-navbar {
        height: 46px;
        background: #eef5f8;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;

        border-bottom: 1px solid #d9e4ea;

        position: sticky;
        top: 64px;

        z-index: 900;
    }

    .sub-navbar a {
        color: #24384a;
        font-weight: 700;
        text-decoration: none;
    }

    .sub-navbar a:hover {
        color: #0d6efd;
    }
</style>
<div class="page-container">

    <h1 class="page-title">討論區</h1>

    <div class="card-box">
        <h2>會員美食討論區</h2>
        <p>這裡未來可以做會員留言與美食心得分享。</p>

        <ul>
            <li>餐廳心得分享</li>
            <li>熱門美食話題</li>
            <li>會員留言討論</li>
            <li>推薦排行榜討論</li>
        </ul>
    </div>

</div>

</body>
</html>